@mixin percentage-expand($offset) {
  position: absolute;
  top: $offset;
  left: $offset;
  width: calc(100% - #{$offset} * 2);
  height: calc(100% - #{$offset} * 2);
}

%stripe-wrapper {
  width: 100%;
  padding: 0 2.75%;
  box-sizing: border-box;
}

@include scope-breakpoint($mobile) {
  %stripe-wrapper {
    padding: 0 2%;
  }
}

@include scope-breakpoint($tablet) {
  %stripe-wrapper {
    padding: 0 calc((100% - 1000px) / 2);
  }
}

@include scope-breakpoint($desktop) {
  %stripe-wrapper {
    padding: 0 calc((100% - 1400px) / 2);
  }
}

%responsive-wrapper {
  width: 100%;
  box-sizing: border-box;
}

@include scope-breakpoint($mobile) {
  %responsive-wrapper {
    padding: 0 2%;
  }
}

@include scope-breakpoint($tablet) {
  %responsive-wrapper {
    padding: 0 3%;
  }
}

@include scope-breakpoint($desktop) {
  %responsive-wrapper {
    padding: 0 20px;
  }
}
